/* @font-face {
    font-family: 'Chalet';
    font-style: normal;
    font-weight: normal;
    src: url("./assets/chalet2.woff") format("woff")
} */

html {
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background: #be8e8e;
    color: rgb(54, 75, 14);
    font-family: sans-serif;
    background-image: url("./assets/batman.jpg");
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.icon {
    max-height: 4rem;
}